<div class='container center'>

	<% if !logged_in?  %>

	<br><br><br>
	<div class="center" title="Enter these credentials">
		<%= image_tag "logo.png", size:'180' %>

	</div>
	

	<%= render partial: 'sessions/new' %>

	<% end %>
</div>
