<div class='container center'>

	<% if !logged_in?  %>

	<br><br><br>
	<div class="center" id="logo">
		<%= image_tag "logo.png", size:'180' %>

	</div>
	<div id="popup">
		Sign Up with this log-in
	</div>

	<%= render partial: 'sessions/new' %>

	<% end %>
</div>
